/* PAGE RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* CLASSES */

.main-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.row-reverse {
    flex-direction: row-reverse;
}

.col__padding {
    padding: 90px 0px;
}

/* HERO */

.hero {
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.hero h1 {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    color: white;
    font-weight: 600;
    font-size: 50px;
}

.hero p {
    color: white;
    line-height: 1.5em;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 25px 0px;
}

.hero__links {
display: flex;
justify-content: center;
}

.hero a {
    padding: 15px 25px;
    border-radius: 30px;
    text-decoration: none;
}

.hero a:first-of-type {
    background-color: white;
        color: black;
}

.hero a:last-of-type {
    background-color: black;
    margin-left: 20px;
    color: white;
}


/* COLUMNS */
.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* DEBUG */

.debug [class^="col"] {
    border: 1px dashed black;}

.debug header {
    padding: 10px;
    background-color: rgb(173, 216, 230);
}

.debug footer {
    padding: 5px;
    background-color: rgb(35, 39, 42);
}

.debug section {
    padding: 15px 0px;
}

.debug .col {
    padding: 10px;
}

/* DEBUG BACKGROUND COLORS */

.debug .l-blue {
    background-color: rgb(29, 144, 255);
        min-height: 250px;
}

.debug .blue {
    background-color: rgb(2, 0, 139);
}

.debug .white {
    background-color: white;
}

.debug .l-pink {
    background-color: rgb(255, 192, 203);
}

.debug .pink {
    background-color: rgb(238, 130, 238);
        min-height: 250px;
}

.debug .d-pink {
    background-color: rgb(240, 127, 128);
        min-height: 300px;
}
.debug .f-pink {
    background-color: rgb(240, 127, 128);
}

.debug .green {
    background-color: rgb(34, 139, 34);
        min-height: 500px;
}

.debug .a-green {
    background-color: rgb(32, 178, 170);
}

.debug .mint {
    background-color: rgb(127, 255, 212);
    padding: 10px 0px;
}

.debug .orange {
    background-color: rgb(218, 165, 32);
}

.debug .l-grey {
    background-color: rgb(211, 211, 211);
}

.debug .d-grey {
    background-color: rgb(35, 39, 42);
}




